{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>MovieManager - List</title>
{% endblock %}
{% block content %}
<div class="container">
	{% for obj in all_entries %}
	<div class="jumbotron">
		<h1>Title: {{obj.movieName}}</h1><br>
		<img src="{{obj.moviePoster.url}}"><br>
		{% if obj.movieDescription %}
		<p>{{obj.movieDescription}}</p><br>
		{% endif %}
		<h4>Created Date: {{obj.createdDate}}</h4><br>
		<h4>Released Date: {{obj.releaseDate}}</h4><br>
	</div>
	{% endfor %}
</div>
{% endblock %}